<div class="section" ng-controller="user_payment_method">
    <div class="container">
        <div class="container-fluid">
            <div class="row col-md-12">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav  nav-stacked" role="tablist">
                        <!--
                                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                        -->
                        <li class="active">
                            <a href="notifications" role="tab" data-toggle="tab" >
                                Notifications
                            </a>
                        </li>

                        <li>
                            <a href="payment_methods" role="tab" data-toggle="tab">
                                Payment Methods
                            </a>
                        </li>
                        <li>
                            <a href="payout_preferences" role="tab" data-toggle="tab">
                                Payout Preferences
                            </a>
                        </li>
                        <li>
                            <a href="transaction_history" role="tab" data-toggle="tab">
                                Transaction History
                            </a>
                        </li>
                        <li>
                            <a href="privacy" role="tab" data-toggle="tab">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="security" role="tab" data-toggle="tab">
                                Security
                            </a>
                        </li>
                        <li>
                            <a href="settings" role="tab" data-toggle="tab">
                                Settings
                            </a>
                        </li>
                        <li>
                            <div class="">
                                <a href="invite" role="tab" data-toggle="tab">

                                    <input type="button" value="Invite Friends" class="btn btn-primary btn-raised " >
                                </a>

                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-9 col-md-9">

                    <!-- Tabs with icons on Card -->
                    <div class="card card-nav-tabs">
                        <div class="header header-success small">
                            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper text-center">
                                    <h4>Payment Methods</h4>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button class="btn btn-raised btn-round btn-info" data-toggle="modal" data-target="#noticeModal">
                                                Add 

                                            </button>
                                        </div>
                                    </div>

                                </div>

                                <div class="clearfix"></div>

                            </form>
                        </div>

                    </div>
                    <div class="tab-pane" id="general">

                        <div class="card card-nav-tabs card-form-horizontal">
                            <div class="header header-success small">
                                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper text-center">
                                        <h4>Gift Card</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <h3 class="title"> Gift Card Balance :  {{ giftcardbalance | currency:"&#8377;" }} </h3>

                                            <p>The credit balance from gift cards will be automatically applied when you book a trip.</p>
                                        </div>

                                    </div>

                                    <div class="row section">

                                        <div class="col-sm-6 col-md-5">

                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">card_giftcard</i>
                                                </span>
                                                <div class="form-group is-empty"><input type="text" value="" placeholder="Enter Gift Card" ng-model="giftcard" class="form-control"><span class="material-input"></span></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3">
                                            <button type="button" class="btn btn-primary btn-block" ng-click="submit()">Apply to Account</button>
                                        </div>


                                    </div>

                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
        <!-- End Tabs with icons on Card -->

    </div>


</div>
<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="myModalLabel">Payment Details</h5>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 col-md-12">

                    <!-- CREDIT CARD FORM STARTS HERE -->
                    <div class="panel panel-default credit-card-box">
                        <div class="panel-heading display-table ">
                            <div class="row">
                                
                                <div class="img img-responsive">                            
                                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                </div>
                            </div>                    
                        </div>
                        <div class="panel-body">
                            <form role="form" id="payment-form" method="POST" action="javascript:void(0);" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="cardNumber">CARD NUMBER</label>
                                            <div class="input-group">
                                                <input type="tel" class="form-control unknown" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required="" autofocus="" aria-required="true">
                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                            </div>
                                        </div>                            
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group">
                                            <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                            <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required="" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cardCVC">CV CODE</label>
                                            <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required="" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="couponCode">COUPON CODE</label>
                                            <input type="text" class="form-control" name="couponCode">
                                        </div>
                                    </div>                        
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="subscribe btn btn-success btn-lg btn-block" type="button" >Start Subscription</button>
                                    </div>
                                </div>
                                <div class="row" style="display:none;">
                                    <div class="col-xs-12">
                                        <p class="payment-errors"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>            
                    <!-- CREDIT CARD FORM ENDS HERE -->


                </div>  
            </div>
            <div class="modal-footer text-center">
            </div>
        </div>
    </div>
</div>
