
    <div class="header-1">
      

        <div class="page-header header-filter" style="background-image: url('./img/bg/bg.jpg');">
            <div class="container">
                <div class="row">
					<div class="col-md-6">
						<h1 class="title">Tesla Model 3.</h1>
	                    <h4>There's no doubt that Tesla is delighted with the interest, but the data also raises a few questions. How long will it take for Tesla to fulfill all those extra orders?</h4>
	                    <br>
	                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-lg">
							<i class="fa fa-ticket"></i> Order Now
						</a>
					</div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="iframe-container">
                            <iframe src="https://www.youtube.com/embed/IN6QnLpVEPI?modestbranding=1&amp;autohide=1&amp;showinfo=0" frameborder="0" allowfullscreen="" height="250"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

