
    <div class="header-3">
        <nav class="navbar navbar-transparent navbar-absolute">
        	<div class="container">
            	<!-- Brand and toggle get grouped for better mobile display -->
            	<div class="navbar-header">
            		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                		<span class="sr-only">Toggle navigation</span>
    		            <span class="icon-bar"></span>
    		            <span class="icon-bar"></span>
    		            <span class="icon-bar"></span>
            		</button>
            		<a class="navbar-brand" href="http://www.creative-tim.com">Creative Tim</a>
            	</div>

            	<div class="collapse navbar-collapse" id="navigation-example">
					<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#pablo">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                Contact Us
                            </a>
                        </li>
                    </ul>
            	</div>
        	</div>
        </nav>

		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<div class="carousel slide" data-ride="carousel">

				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="page-header header-filter" style="background-image: url('../img/dg1.jpg');">

							<div class="container">
								<div class="row">
									<div class="col-md-6 text-left">
										<h1 class="title">Material Kit PRO</h1>
										<h4>Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
										<br>

										<div class="buttons">
											<a href="#pablo" class="btn btn-primary btn-lg">
												Read More
											</a>
											<a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-twitter"></i>
											</a>
											<a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-facebook-square"></i>
											</a>
											<a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-get-pocket"></i>
											</a>
										</div>

									</div>
								</div>
							</div>
				        </div>

					</div>
					<div class="item">
						<div class="page-header header-filter" style="background-image: url('assets/img/dg2.jpg');">

							<div class="container">
								<div class="row">
									<div class="col-md-8 col-md-offset-2 text-center">
										<h1 class="title">Material Kit PRO</h1>
										<h4>Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
										<br>
										<h6>Connect with us on:</h6>
										<div class="buttons">
											<a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-twitter"></i>
											</a>
											<a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-facebook-square"></i>
											</a>
											<a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-google-plus"></i>
											</a>
											<a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-instagram"></i>
											</a>
										</div>
									</div>
								</div>
							</div>

				        </div>

					</div>

					<div class="item">
						<div class="page-header header-filter" style="background-image: url('assets/img/dg3.jpg');">

							<div class="container">
								<div class="row">
									<div class="col-md-7 col-md-offset-5 text-right">
										<h1 class="title">New Collection 50% Off</h1>
										<h4>There's no doubt that Tesla is delighted with the interest, but the data also raises a few questions. How long will it take for Tesla to fulfill all those extra orders?</h4>
										<br>

										<div class="buttons">
											<a href="#pablo" class="btn btn-white btn-simple btn-lg">
												<i class="material-icons">share</i> Share Offer
											</a>
											<a href="#pablo" class="btn btn-danger btn-lg">
												<i class="material-icons">shopping_cart</i> Shop Now
											</a>
										</div>

									</div>
								</div>
							</div>

				        </div>

					</div>

				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<i class="material-icons">keyboard_arrow_left</i>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<i class="material-icons">keyboard_arrow_right</i>
				</a>
			</div>
		</div>

    </div>