<div class="social-line social-line-big-icons social-line-white">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#pablo" class="btn btn-simple btn-just-icon btn-twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#pablo" class="btn btn-simple btn-just-icon btn-facebook">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#pablo" class="btn btn-simple btn-just-icon btn-google">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#pablo" class="btn btn-simple btn-just-icon btn-dribbble">
                    <i class="fa fa-dribbble"></i>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#pablo" class="btn btn-simple btn-just-icon btn-youtube">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#pablo" class="btn btn-simple btn-just-icon btn-instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>